<% if @all_contacts.any? %>
	<ul>
 		<% @all_contacts.each do |c| %>
 			<li><%= link_to(c.name, contact_path(c)) %></li>
 		<% end %>
 	</ul>
<% else %>
	<h2>No contacts currently in address book</h2>
<% end %>