<p>
	<h2>Add Contact Page</h2>

	<form action="/processuser" method="get">
		<table>
			<tr>
				<th>Name: </th><td><input type="text" size="40" name="name"></td>
			</tr>
			<tr>
				<th>Address: </th><td><textarea rows="4" cols="50" name="address"></textarea></td>
			</tr>
			<tr>
				<th></th><td><input type="submit" value="Create Contact"></td>
			</tr>
		</table>
	</form>
</p>